<div class="navigation-content">

  <div class="perfil">
    <img src="" alt="">
    <h3>Juan Carlos</h3>
    <span>+312361278312</span>

  </div>

  <ul>
    <li class="list"
        routerLink="dashborad"
        routerLinkActive="active">
      <a>
        <b></b>
        <b></b>
        <span class="material-symbols-outlined" > dashboard</span>
        <span class="tittle">Dasboard</span>
      </a>
    </li>
    <li class="list"
    routerLink="rides"
    routerLinkActive="active">
      <a>
        <b></b>
        <b></b>
        <span class="icon"
          ><span class="material-symbols-outlined"> work_history </span>
        </span>
        <span class="tittle">Rides</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> groups </span></span
        >
        <span class="tittle">Clients</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> hail </span></span
        >
        <span class="tittle">Drivers</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined">
            currency_exchange
          </span></span
        >
        <span class="tittle">Shift</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> map </span></span
        >
        <span class="tittle">Live map</span>
      </a>
    </li>

    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> directions_car </span></span
        >
        <span class="tittle">Car classes</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> hub </span></span
        >
        <span class="tittle">Branches</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined"> engineering </span></span
        >
        <span class="tittle">Moderators</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"
          ><span class="material-symbols-outlined "> settings </span></span
        >
        <span class="tittle">Settings</span>
      </a>
    </li>
  </ul>
</div>
