.container_sidebar{
    display: flex;
    flex-direction: row;
    
    
}
.container_all{
    display: flex;
    
    flex-direction: row;            
      
}
.container_dashboard{
    display: flex;
    flex-direction: column;
    padding-left: 330px;
     
}
